<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Add Customer</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script>
        function createSpaces(count) {
            if (count === 0) return "";
            let output = "";
            for (let i = 0; i < count; i++) {
                output += "&nbsp;&nbsp;&nbsp;&nbsp;"
            }
            return output;
        }

        window.onload = function(event) {
            let sectorList = document.getElementById("sector");
            for (let i = 0; i <= sectorList.length - 1; i++) {
                sectorList[i].innerHTML = createSpaces(sectorList[i].getAttribute("level")) + sectorList[i].innerHTML;
            }
        };

    </script>
</head>

<body class="bg-light">

<div class="container">
    <div class="py-5 text-center">
        <h2 th:text="${customerDto?.id == null} ? 'Add Customer' : 'Edit Customer'"></h2>
    </div>

    <div class="row">
        <div class="col-md-12 order-md-1">
            <form class="needs-validation" th:action="@{/modify}" th:object="${customerDto}" action="#" method="post">
                <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
                    <p th:each="error : ${#fields.errors('*')}" th:text="${error}">Validation error</p>
                </div>

                <input type="hidden" th:field="*{id}" />

                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="firstName">First name</label>
                        <input type="text" th:field="*{firstName}" class="form-control" id="firstName" placeholder="" value="">
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="lastName">Last name</label>
                        <input type="text" th:field="*{lastName}" class="form-control" id="lastName" placeholder="" value="">
                    </div>
                </div>

                <div class="mb-3">
                    <label for="username">Username</label>
                    <div class="input-group">
                        <input type="text" th:field="*{username}" class="form-control" id="username" placeholder="Username">
                    </div>
                </div>

                <div class="mb-3">
                    <label for="email">Email <span class="text-muted">(Optional)</span></label>
                    <input type="email" th:field="*{email}" class="form-control" id="email" placeholder="you@example.com">
                </div>

                <div class="mb-3">
                    <label for="address">Address</label>
                    <input type="text" th:field="*{address}" class="form-control" id="address" placeholder="1234 Main St">
                </div>

                <div class="mb-3">
                    <label for="sector">Sector</label>
                    <select th:field="*{sectorId}" class="custom-select d-block w-100" id="sector">
                        <option th:each="sector : ${sectorList}" th:value="${sector.id}" th:text="${sector.sector}" th:attr="level=${sector.level}"></option>
                    </select>
                </div>
                <hr class="mb-4">
                <button class="btn btn-primary btn-lg btn-block" type="submit" th:text="${customerDto?.id == null} ? 'Add Customer' : 'Edit Customer'"></button>
            </form>
        </div>
    </div>

    <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">&copy; 2021 Code for Humans OÜ</p>
    </footer>
</div>
</body>
</html>
