<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Add Customer</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script>
        function createSpaces(count) {
            if (count === 0) return "";
            let output = "";
            for (let i = 0; i < count; i++) {
                output += "&nbsp;&nbsp;&nbsp;&nbsp;"
            }
            return output;
        }

        window.onload = function (event) {
            let sectorList = document.getElementById("sector");
            for (let i = 0; i <= sectorList.length - 1; i++) {
                sectorList[i].innerHTML = createSpaces(sectorList[i].getAttribute("level")) + sectorList[i].innerHTML;
            }
        };

    </script>
</head>

<body class="bg-light">

<div class="container">
    <div class="py-5 text-center">
        <h2 th:text="${profileModel?.getId() == null} ? 'Add Profile' : 'Edit Profile'"></h2>
    </div>

    <div class="row">
        <div class="col-md-12 order-md-1">
            <form class="needs-validation" th:action="@{/profile/update}" th:object="${profileModel}" action="#" method="post">
                <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
                    <p th:each="error : ${#fields.errors('*')}" th:text="${error}">Validation error</p>
                </div>
                <p>Please enter your name and pick the Sectors you are currently involved in.</p>

                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="fullName">Name</label>
                        <input type="text" th:field="*{fullName}" class="form-control" id="fullName" placeholder="" value="">
                    </div>
                </div>

                <div class="mb-3">
                    <label for="sector">Sectors</label>
                    <select multiple th:field="*{sectorIds}" class="custom-select d-block w-100" id="sector">
                        <option th:each="sector : ${sectorList}" th:value="${sector.getId()}"
                                th:text="${sector.getSector()}" th:attr="level=${sector.getLevel()}"></option>
                    </select>
                </div>
                <div class="mb-3">
                    <!-- Why null -->
                    <input type="checkbox" name="termsOfAgreement" th:checked="*{termsOfAgreement}" id="termsOfAgreement">
                    <label for="termsOfAgreement">Agree to terms</label>
                </div>
                <hr class="mb-4">
                <button class="btn btn-primary btn-lg btn-block" type="submit">Save</button>
            </form>
        </div>
    </div>

    <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">&copy; 2021 Code for Humans OÜ</p>
    </footer>
</div>
</body>
</html>
